<div class="profile-user-info-form">
    {{#if password}}
        {{> "input/input" userValue=data.oldPassword disabled="disabled" fieldName="Старый пароль" type="password" name="oldPassword"}}
        {{> "input/input" userValue=data.newPassword disabled="disabled" fieldName="Новый пароль" type="password" name="newPassword"}}
        {{> "input/input" userValue=data.newPassword disabled="disabled" fieldName="Повторите новый пароль" type="password" name="newPassword"}}
    {{else}}
        {{> "input/input" userValue=data.email disabled="disabled" fieldName="Почта" type="text" name="email"}}
        {{> "input/input" userValue=data.login disabled="disabled" fieldName="Логин" type="text" name="login"}}
        {{> "input/input" userValue=data.login disabled="disabled" fieldName="Имя в чате" type="text" name="display_name"}}
        {{> "input/input" userValue=data.firstName disabled="disabled" fieldName="Имя" type="text" name="first_name"}}
        {{> "input/input" userValue=data.lastName disabled="disabled" fieldName="Фамилия" type="text" name="second_name"}}
        {{> "input/input" userValue=data.phone disabled="disabled" fieldName="Телефон" type="text" name="phone"}}
    {{/if}}
</div>
