.chat-list-container {
  min-width: 350px;
  height: 100vh;
  padding: 10px;
  border-right: 1px solid var(--gray);
}

.chat-list-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.chat-list__profile-link {
  text-align: right;
  text-decoration: none;
  color: var(--gray);
}

.chat-list {
  overflow-x: auto;
  width: 100%;
  height: calc(100vh - 110px);
  padding: 0;
  list-style: none;
}

.chat-list a {
  text-decoration: none;
}
