.container__profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  height: 100vh;
  padding-top: 50px;
}

.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  width: 600px;
  height: 100vh;
  padding: 80px 0;
}

.profile-header {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;
}

.back-button {
  width: 100%;
  margin-right: auto;
}

.profile-name {
  text-align: center;

  color: var(--base);

  font-size: 16px;
  font-weight: 600;
}

.profile-buttons {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  width: 100%;
}

.profile-buttons button {
  width: fit-content;
}

.profile-buttons button:nth-child(3) {
  width: fit-content;

  color: var(--red);
}
