.p-tag {
    margin: 0;
    font-weight: 600;
    font-size: 14px;

    color: var(--base);
}

.gray {
    color: var(--gray);
}

.p-tag__medium {
    font-weight: 500;
    font-size: 12px;
}

.p-tag__small {
    font-weight: 500;
    font-size: 10px;
}
