{{!< desktop}}
<div class="container">
    <div class="auth-page">
        <form class="auth-page__top">
            {{> "page-title/pageTitle" title="Вход"}}
            {{> "input/input" name="login" fieldName="Логин" type="text"}}
            {{> "input/input" name="password" fieldName="Пароль" type="password"}}
        </form>
        <div class="auth-page__bottom">
            {{> "button/button" style="primary fill" text="Авторизоваться" type="submit"}}
            {{> "link/link" text="Нет аккаунта?" href="registration.hbs"}}
        </div>
    </div>
</div>
