---
{
data: [
{
chatName: 'Done done',
chatImage: "../assets/img/avatar-2.png",
unreadMessageCount: "2",
time: "11:20",
lastMessage: "И Human Interface Guidelines и Material Design",
},
{
chatName: "Я.Практикум",
chatImage: "../assets/img/avatar-1.png",
unreadMessageCount: "20",
time: "11:20",
lastMessage: "И Human Interface Guidelines и Material Design",
},
{
chatName: "Я.Практикум",
chatImage: "../assets/img/avatar-3.png",
unreadMessageCount: "200",
time: "11:20",
lastMessage: "И Human Interface Guidelines и Material Design",
},
{
chatName: "Я.Практикум",
chatImage: "../assets/img/avatar-2.png",
unreadMessageCount: "20",
time: "11:20",
lastMessage: "И Human Interface Guidelines и Material Design",
},
{
chatName: 'Done done',
chatImage: "../assets/img/avatar-2.png",
unreadMessageCount: "2",
time: "11:20",
lastMessage: "И Human Interface Guidelines и Material Design",
},
{
chatName: "Я.Практикум",
chatImage: "../assets/img/avatar-1.png",
unreadMessageCount: "20",
time: "11:20",
lastMessage: "И Human Interface Guidelines и Material Design",
},
{
chatName: "Я.Практикум",
chatImage: "../assets/img/avatar-3.png",
unreadMessageCount: "200",
time: "11:20",
lastMessage: "И Human Interface Guidelines и Material Design",
},
{
chatName: "Я.Практикум",
chatImage: "../assets/img/avatar-2.png",
unreadMessageCount: "20",
time: "11:20",
lastMessage: "И Human Interface Guidelines и Material Design",
},
{
chatName: 'Done done',
chatImage: "../assets/img/avatar-2.png",
unreadMessageCount: "2",
time: "11:20",
lastMessage: "И Human Interface Guidelines и Material Design",
},
{
chatName: "Я.Практикум",
chatImage: "../assets/img/avatar-1.png",
unreadMessageCount: "20",
time: "11:20",
lastMessage: "И Human Interface Guidelines и Material Design",
},
{
chatName: "Я.Практикум",
chatImage: "../assets/img/avatar-3.png",
unreadMessageCount: "200",
time: "11:20",
lastMessage: "И Human Interface Guidelines и Material Design",
},
{
chatName: "Я.Практикум",
chatImage: "../assets/img/avatar-2.png",
unreadMessageCount: "20",
time: "11:20",
lastMessage: "И Human Interface Guidelines и Material Design",
},
]
}
---

{{!< desktop}}

    <div class="chat-main-container">
        {{> "features/chatList/chatList" data=this.data}}
        <div class="right-part">
            {{> "ui/pTag/pTag" value="Выберите чат чтобы отправить сообщение" color="gray" size="medium" }}
        </div>
    </div>
