{{!< desktop}}
<ul>
    <li>
        <a href="authorization.hbs">Authorization page</a>
    </li>
    <li>
        <a href="registration.hbs">Registration page</a>
    </li>
    <li>
        <a href="profile.hbs">Profile page</a>
    </li>
    <li>
        <a href="editUserInfoPage.hbs">Edit user info page</a>
    </li>
    <li>
        <a href="passwordRestorePage.hbs">Password restore page</a>
    </li>
    <li>
        <a href="chatListWithoutSelectedChat.hbs">Page without selected chat</a>
    </li>
    <li>
        <a href="chatListWithSelectedChat.hbs">Page with selected chat</a>
    </li>
    <li>
        <a href="notFound.hbs">Not found page</a>
    </li>
    <li>
        <a href="internalError.hbs">Internal server error page</a>
    </li>
</ul>