---
{
data: {
firstName: 'Chair',
lastName: 'Sofa',
email: 'mychat@chat.my',
phone: '+765432154321',
login: 'Table',
}
}
---
{{!< desktop }}

<div class="container">
    <div class="profile">
        <div class="profile-header">
            <div class="back-button">
                {{> "button/button" iconBefore="../assets/icons/chevron-left.svg" style="primary round"}}
            </div>
            {{> "avatarPicker/avatarPicker" disabled src="avatar-2.c91c750c.png" hoverText="Поменять аватар"}}
            <p class="profile-name">{{this.data.login}}</p>
        </div>
        {{> "profileUserInfoForm/profileUserInfoForm" data=this.data}}
        <div class="profile-buttons">
            {{> "button/button" text="Изменить данные" style="text"}}
            {{> "button/button" text="Изменить пароль" style="text"}}
            {{> "button/button" text="Выйти" style="text"}}
        </div>
    </div>
</div>
