.chat-list-container {
    border-right: 1px solid var(--gray);
    width: fit-content;
    height: 100vh;
    padding: 10px;
}

.chat-list-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.chat-list__profile-link {
    text-align: right;
    text-decoration: none;
    color: var(--gray);
}

.chat-list {
    overflow-x: auto;
    width: 100%;
    padding: 0;
    list-style: none;
    height: calc(100vh - 110px);
}


.chat-list a {
    text-decoration: none;
}
