.avatar-picker {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 130px;
  cursor: pointer;
  transition: 0.3s all;
  border: none;
  border-radius: 100%;
}

.avatar-picker input {
  width: 130px;
  height: 130px;
  border-radius: 100%;
  object-fit: cover;
  background: url("../../assets/img/noavatar.png");
}

.avatar-picker span {
  position: absolute;
  display: none;
  width: 130px;
  height: 130px;
  transition: 0.3s all;
  text-align: center;
  color: var(--gray-light);
  border-radius: 100%;
  background-color: rgb(70 69 69 / 47%);
  line-height: 130px;
}

.avatar-picker:hover .avatar-picker-hover-layer {
  display: inline;
}
