.message-create-area {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  margin-top: auto;
  padding: 20px 20px 0;

  border-top: 1px solid var(--gray);
  gap: 10px;
}

.message-create-area__input {
  width: 100%;
}
