<div class="message-create-area">

    {{> "button/button" type="button" style="text round" iconBefore="../assets/icons/attach.svg"}}
    {{> "button/button" type="button" style="text round" iconBefore="../assets/icons/smile.svg"}}
    <div class="message-create-area__input">
        {{> "searchField/searchField" name="message" placeholder='Cообшение...' style="round" }}
    </div>
    {{> "button/button" type="button" style="primary round" iconBefore="../assets/icons/send.svg"}}
</div>
