<div class="selected-chat-header">
    {{> "ui/avatar/avatar" style="medium base" src="../assets/img/avatar-1.png"}}
    <div class="selected-chat__info">
        {{> "ui/pTag/pTag" value="Done Done"}}
        {{> "ui/pTag/pTag" style="p-tag__medium gray" value="Был 31 ноября"}}
    </div>
    {{> "ui/button/button" iconBefore="../assets/icons/three-dots-vertical.svg"}}
</div>
