<label class="search-field {{style}}">
    <input type="text" placeholder={{placeholder}}>
    {{#if icon}}
        <span class="search-field__icon">
            <img src={{icon}} alt="search icon">
        </span>
    {{/if}}
</label>