.p-tag {
  margin: 0;
  color: var(--base);
  font-size: 14px;
  font-weight: 600;
}

.p-tag__gray {
  color: var(--gray);
}

.p-tag__medium {
  font-size: 12px;
  font-weight: 500;
}

.p-tag__small {
  font-size: 10px;
  font-weight: 500;
}

.p-tag__large {
  font-size: 16px;
  font-weight: 600;
}
