<div class="chat-list-container">
    <div class="chat-list-buttons">
        {{> "ui/button/button" style="round" iconBefore="../assets/icons/plus.svg"}}
        {{> "ui/button/button" style="gray_text" text="Профиль" iconAfter="../assets/icons/chevron-right.svg"}}
    </div>
    {{> "ui/searchField/searchField" icon="../assets/icons/search.svg" placeholder="Поиск..." }}
    <ul class="chat-list">
        {{#each data}}
            <li>
                <a href="#">
                    {{> "entities/chatListItem/chatListItem"
                            chatName=this.chatName
                            chatImage=this.chatImage
                            unreadMessageCount=this.unreadMessageCount
                            time=this.time
                            lastMessage=this.lastMessage
                    }}
                </a>
            </li>
        {{/each}}
    </ul>
</div>
