.button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 37px;
    font-size: 14px;
    gap: 5px;
    border-radius: 8px;
    border: none;
    transition: 0.1s all;
}

.primary:active {
    background: var(--primary-up);
}

.primary {
    background: var(--primary);
    color: var(--white);
}

.text,
.text:active {
    background: transparent;
    color: var(--primary);
}

.round {
    width: 37px;
    border-radius: 100%;
}

.gray_text {
    color: var(--gray)
}

.button-size__medium {
    width: 280px;
}

.fill {
    width: 100%;
}
